/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Colors */
:root {
  --very-dark-greyish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --greyish-blue: hsl(212, 23%, 69%);
  --light-greyish-blue: hsl(210, 46%, 95%);
  --pure-white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Manrope";
  src: url(./font/Manrope-VariableFont_wght.woff2);
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 154%;
  letter-spacing: 0.122px;
  color: var(--greyish-blue);
}

h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--very-dark-greyish-blue);
  margin-bottom: 12px;
}
@media (min-width: 900px) {
  h1 {
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 140%;
  }
}

h2 {
  font-weight: 700;
  color: var(--very-dark-greyish-blue);
}

p {
  margin-bottom: 32px;
}
@media (min-width: 900px) {
  p {
    margin-bottom: 20px;
  }
}

/* Attribution */
.attribution {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: var(--pure-white);
  color: var(--desaturated-dark-blue);
}
.attribution a {
  color: var(--very-dark-greyish-blue);
  font-weight: 700;
}
.attribution p {
  font-size: 11px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-greyish-blue);
  padding: 0 24px;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--pure-white);
  border-radius: 10px;
  max-width: 327px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
  position: relative;
  transition: all 400ms ease;
  overflow: hidden;
  /* Social Media Sharing Menu */
}
@media (min-width: 900px) {
  .card {
    flex-direction: row;
    max-width: 730px;
    overflow: visible;
  }
}
.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
@media (min-width: 900px) {
  .card__image {
    width: 100%;
    height: initial;
    object-fit: cover;
    object-position: left;
    border-radius: 10px 0 0 10px;
  }
}
.card__article {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  padding: 36px 32px 20px;
}
@media (min-width: 900px) {
  .card__article {
    padding: 32px 40px;
  }
}
.card__article__author {
  display: grid;
  grid-template-columns: 40px repeat(2, auto);
  gap: 16px;
}
.card__article__author > img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.card__article__author > button {
  width: 32px;
  height: 32px;
  align-self: center;
  position: relative;
  transform: translateY(2px);
  justify-self: flex-end;
}
.card__article__author > button:hover > svg circle {
  fill: var(--desaturated-dark-blue);
  transition: all 300ms ease;
}
.card__article__author > button:hover > svg path {
  fill: var(--light-greyish-blue);
  transition: all 300ms ease;
}
.card__social {
  visibility: hidden;
  display: grid;
  grid-template-columns: min-content repeat(2, auto);
  gap: 21px;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: -327px;
  background-color: var(--very-dark-greyish-blue);
  padding: 16px 32px;
  transition: all 300ms ease;
}
.card__social > span {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.card__social > div {
  display: flex;
  gap: 16px;
}
.card__social > button {
  justify-self: flex-end;
}
.card__social > button:hover > svg circle {
  fill: var(--light-greyish-blue);
  transition: all 300ms ease;
}
.card__social > button:hover > svg path {
  fill: var(--desaturated-dark-blue);
  transition: all 300ms ease;
}
@media (min-width: 900px) {
  .card__social {
    border-radius: 10px;
    opacity: 0;
    width: auto;
    right: 56px;
    bottom: 72px;
    position: absolute;
    transform: translateX(50%);
    gap: 0;
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.5);
  }
  .card__social > span {
    margin-right: 16px;
  }
  .card__social > button {
    display: none;
  }
  .card__social::after {
    content: "";
    position: absolute;
    bottom: -11.8px;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #48556a;
  }
}

/* Utility Class */
.visible {
  visibility: visible;
  right: 0;
  transition: all 400ms ease;
}
@media (min-width: 900px) {
  .visible {
    right: 56px;
    opacity: 1;
    bottom: 94px;
  }
}/*# sourceMappingURL=main.css.map */